<h1>New Appointment</h1>
<%= react_component("AppointmentForm", {}, { class: 'react-component', data: { component_name: "AppointmentForm", props: { first_name: "", last_name: "" } } }) %>
<%= form_with model: @appointment, local: true do |form| %>
  <div id="appointment-form-container"></div>
<% end %>